body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.808);
    z-index: 12345;
}

#logo {
    margin: 3vh;
    margin-left: 20vh;
    margin-bottom: 1vh;
    width: auto;
    height: 10vh;
}

.rubric {
    width: 45%;
    margin: 4vh;
    margin-right: 6vh; 
    padding: 0;
    display: flex;
    justify-content: space-around;
    letter-spacing: 2px;
    font-size: 2.4vh;
}

.rubric a {
    font-weight: 350;
    color: rgb(141, 140, 140);
    vertical-align: middle;
}

.burger{
    display: none;
}

.burgerContainer {
    display: inline-block;
    cursor: pointer;
    display: none;
  }

#burgerContent{
    display: none;
    padding: 2vh;
}

#burgerContent div{
    margin: 1vh;
    
}

#burgerContent div a{
    color: rgb(141, 140, 140);
    font-weight: 350;
    font-size: 2.5vh;

}
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(141, 140, 140);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 2px;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

header {
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.titleDiv{
    padding: 23vh 0;
    padding-left: 5vh;
    letter-spacing: 2px;
}

.titleDiv p{
    color: gray;
    font-weight: 300;
    font-size: 3vh;   
}

#title {
    color: rgb(73, 72, 72);
    font-size: 4.5vh;
    margin: 1vh 0; 
}

header img {
    height: 60vh;
    margin-top: 7vh;
}

.emptyLine {
    background-color: gray;
    height: 2px;
    width: 90%;
    margin: 2vh 0;
}

.container{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0 25vh;
    padding-top: 17vh;
    overflow: hidden;
}

.container p{
    color: rgb(141, 140, 140);
    letter-spacing: 1px;
    font-size: 2.5vh;
}

.subtitle{
    color: rgb(83, 81, 81);
    letter-spacing: 2px;
    font-size: 4vh;
    padding: 3vh;
}

.ecoDesc{
    color: #2997d6;
    letter-spacing: 2px;
    margin: 4vh 0;
    font-size: 3.5vh;
}

.about {
    position: relative;
}

.backgroundImage{
    height: 80vh;
    width: 80vh;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
}

.aboutBack{
    right: -60vh;
}

.theEcosystemBack{
    left: -45vh;
}

.contactBack{
    left: -20vh;
    transform: rotate(35deg);
    height: 65vh;
    width: 65vh;
    
}

.saronaLogosDiv, .saronaProgramsLog{
    display: flex;
    justify-content: center;
}

.saronaLogosDiv img{
    height: 15vh;
    width: 15vh;
    margin: 4vh;
    margin-bottom: 2vh;
}

.saronaLogosDivSite input{
   display: block;
   margin: auto;
   margin-bottom: 2vh;
}

.visitSite:hover{
    background-color: rgb(219, 217, 217);
}

.saronaLogosDivSite {
    cursor: pointer;
}

.visitSite{
    color: rgb(83, 81, 81);
    border: solid rgb(83, 81, 81) 3px;
    padding: 1vh 4vh;
    border-radius: 20px;
    margin: 2vh 4vh;
}

.clickableLogos img{
    height: 7vh;
    width: auto;
    margin: 4vh 6vh;
}

.saronaMediaLogo{
    display: none;
}
.partnersLine{ 
    display: flex;
    justify-content: space-between;
}

.partnersLine img{
    width: auto;
    height: 7vh;
    margin: 5vh 2vh;
}

.bestPartners img{
    height: 7.5vh;
}

.contact {
    padding-bottom: 0;
}

.contact .subtitle{
    padding-bottom: 4vh;
}


#getInTouchBtn {
    height: 7vh;
    font-size: 3vh;
    font-weight: 300;
    border-radius: 3px;
    margin: 4vh 0;
    padding: 0 12vh;
    font-family: Open Sans,sans-serif;
    color: white;
    background-color: rgb(33, 150, 243);
    border-color: rgb(33, 150, 243);
}

#getInTouchBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(129, 127, 127, 0.24), 0 17px 30px 0 rgba(129, 127, 127, 0.24);
}

.copyright{
    margin-top: 30vh;
    margin-bottom: 5vh;
    color: rgb(151, 150, 150);
}








  @media only screen and (max-width: 1230px) {
    /* For mobile phones: */

    .burger{
        display: block;
    }
    .burgerContainer {
        display: block;
        margin: 40px;
        margin-right: 100px;
    }
    .rubric {
        display: none;
    }
  }
  


  
